tmp
**/log.txt
**/errors.txt
**/traceback.txt
**/trav.txt
**/__pycache__
**/*.rpyc
**/*.rpymc
**/*.rpyb
**/*.bak
**/.DS_Store
**/*.xmp
**/node_modules

projects/*
!projects/aliya

web/web3

**/game/saves
**/game/cache
